<!DOCTYPE html>

<head>
    <title>Art Sphere</title>
    <link rel="stylesheet" href="styles/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>

<body>
    <div class="homepage-background">
        <div class="homepage-blur"></div>
        <span class="homepage-title">Art Sphere</span>
        <div class="homepage-front"></div>
        <button id="explore" onclick="window.location.href='/explore'">EXPLORE</button>
    </div>

    <div class="footer1">
        <footer>Copyright © <%= new Date().getFullYear() %> ArtSphere by Zoe Xu | All Rights Reserved | Powered by The Metropolitan Museum of Art Collection API</footer>
    </div>
</body>

</html>